<div fxLayoutAlign="center center">
  <form  [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
    <div class="row" *ngIf="authError">
        <mat-error>{{ authError?.message }}</mat-error>
    </div>
    <mat-form-field class="full-width">
        <label>E-mail</label>
        <input matInput class="form-control" type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <label>Password</label>
      <input matInput class="form-control" type="password" formControlName="password" />
    </mat-form-field>
    <button mat-flat-button color="primary">Log in</button>
  </form>
</div>
