<div class="container">
  <h4 class="user__project__title">Projects</h4>
  <ul class="user__project">
    <li *ngFor="let project of projectList">
      {{ project.name }} - {{ project.year }}
    </li>
  </ul>
  <h4 class="user__project__title">Project links</h4>
  <ul class="user__project">
    <li *ngFor="let project of projectList">
      <a [href]="project.url">{{ project.url }}</a>
    </li>
  </ul>
  <div *ngIf="user" class="form-wrapper">
    <h5 class="user__project__title">Add project</h5>
    <form
      [formGroup]="projectForm"
      class="user__project__form"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field class="full-width">
        <label>Project Name</label>
        <input
          matInput
          class="form-control"
          type="text"
          formControlName="name"
          [ngClass]="{'is-invalid': projectForm.get('name').invalid && projectForm.get('name').touched}"
        />
        <mat-error>
          Please provide name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <label>Project Link</label>
        <input
          matInput
          class="form-control"
          type="text"
          formControlName="url"
          [ngClass]="{'is-invalid': projectForm.get('url').invalid && projectForm.get('url').touched}"
        />
        <mat-error>
          Please provide url
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" >
        <label>Project Year</label>
      <input
        matInput
        class="form-control"
        type="text"
        formControlName="year"
        [ngClass]="{'is-invalid': projectForm.get('year').invalid && projectForm.get('year').touched}"
      />
        <mat-error>
          Please provide year.
        </mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        [disabled]="projectForm.invalid"
      >
      Add
      </button>
    </form>
  </div>
</div>