.form-wrapper {
  margin-top: 50px;
}

.user__project__form {
  width: 70%;
  display: flex;
  flex-direction: column;

  button {
    display: block;
    margin-top: 20px;
  }
}

.project__wrapper {
  margin: 10px 5px;

  .mat-accordion {
    display: block;
    margin-bottom: 10px;
  }
}

.user__project {
  padding-left: 15px;
  margin-top: 0;
}

.user__project__title-add {
  margin-bottom: 0;
}