<div class="project__wrapper">
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4 class="user__project__title">Projects</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list class="user__project">
          <mat-list-item *ngFor="let project of projectList">
            {{ project.name }} - {{ project.year }}
          </mat-list-item>
        </mat-list>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4 class="user__project__title">Project links</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list class="user__project">
          <mat-list-item *ngFor="let project of projectList">
            <a [href]="project.url">{{ project.url }}</a>
          </mat-list-item>
      </mat-list>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="user" class="form-wrapper">
    <h4 class="user__project__title-add">Add project</h4>
    <form
      #form="ngForm" 
      [formGroup]="projectForm"
      class="user__project__form"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field class="full-width">
        <label>Project Name</label>
        <input
          matInput
          class="form-control"
          type="text"
          formControlName="name"
          [ngModel]="valueInput_name | titlecase"
          (ngModelChange)="valueInput_name=$event"
          [ngClass]="{'is-invalid': projectForm.get('name').invalid && projectForm.get('name').touched}"
        />
        <mat-error>
          Please provide name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <label>Project Link</label>
        <input
          matInput
          class="form-control"
          type="text"
          formControlName="url"
          [ngModel]="valueInput_url"
          (ngModelChange)="valueInput_url=$event"
          [ngClass]="{'is-invalid': projectForm.get('url').invalid && projectForm.get('url').touched}"
        />
        <mat-error>
          Please provide url
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <label>Choose a starting date for a project</label>
        <input 
          matInput
          [matDatepicker]="dp"
          formControlName="year"
          [ngModel]="valueInput_year"
          (ngModelChange)="valueInput_year=$event"
          [ngClass]="{'is-invalid': projectForm.get('year').invalid && projectForm.get('year').touched}"
        />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="multi-year"
          (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)"
          panelClass="month-picker">
        </mat-datepicker>
        <mat-error>
          Please provide date
        </mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        [disabled]="projectForm.invalid"
      >
      Add
      </button>
    </form>
  </div>
</div>