/* Add application styles & imports to this file! */
ul {
  list-style: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
}

.full-width {
  width: 100%;
}