/* Add application styles & imports to this file! */
body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

ul {
  list-style: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}