
<app-profile></app-profile>
 <mat-toolbar-row>
    <mat-nav-list fxLayoutGap="16px ">
      <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/bio']">Bio</a>
      <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/projects']">Projects</a>
    </mat-nav-list>
    <span class="user__status" fxLayoutGap="10px">
      <button mat-flat-button color="primary" class="btn btn-primary" *ngIf="user" (click)="logout()">Logout</button>
      <button mat-flat-button color="primary" class="btn btn-primary" *ngIf="!user" (click)="login()">Login</button>
      <p *ngIf="user">Logged in as admin</p>
      <p *ngIf="!user">Logged in as user</p>
    </span>           
</mat-toolbar-row>

<!-- <app-project [user]="user"></app-project> -->