<section class="user-top">
  <span class="user__img">
    <img          src="https://scontent.fmsq4-1.fna.fbcdn.net/v/t1.0-9/39737171_2358370107523340_822493349649842176_n.jpg?_nc_cat=106&_nc_ht=scontent.fmsq4-1.fna&oh=77766d6168321cff8789b13bcf437b69&oe=5DC164AE">
  </span>
  <ul class="user__info">
   <li class="user__info__name">{{ userName }}</li>
   <li class="user__info__git">{{ userGit }}</li>
  </ul>
</section>
<section class="user-bottom">
  <h3 class="user__bio-title">Bio</h3>
  <h3 class="user__experience-title">Experience</h3>
    <ul class="user__experience">
      <li>TravelShift-2019</li>
      <li>ConsumerFusion-2018</li>
    </ul>
  <h3>Projects links</h3>
    <ul>
      <li>https://guidetoiceland.is/ru</li>
    </ul>
</section>